footer
    .container
        .row.footer-info
            .col-md-4.col-sm-12.col-xs-12
                img(src='img/logo.png', alt='')
                p= generalInfo.mainDescription
            .col-md-4.col-sm-12.col-xs-12
                h4 Instagram
                .insta-items
                    // First row
                    .row
                        each instaItem in instagram
                            .insta-item
                                a.insta-link(href='#{instaItem.link}', target='_blank')
                                    img.insta-img(src='#{instaItem.image}', alt='')


            .col-md-4.col-sm-12.col-xs-12
                h4 Contact us
                ul
                    li
                        span.fa.fa-map-marker
                        |  #{generalInfo.address}
                    li
                        span.fa.fa-phone
                        |  #{generalInfo.tel}
                    li
                        span.fa.fa-clock-o
                        | #{generalInfo.workingTime}
                    li
                        span.fa.fa-envelope
                        |  #{generalInfo.email}
    hr
// lower footer
section.lower-footer
    .container.lower-footer
        .col-md-6.col-xs-12
            p= generalInfo.copyright
        .col-md-6.col-xs-12
            ul.pull-right
                li
                    a.icon.fa.fa-facebook(href='#')
                li
                    a.icon.fa.fa-twitter(href='#')
                li
                    a.icon.fa.fa-google-plus(href='#')
                li
                    a.icon.fa.fa-youtube(href='#')
                li
                    a.icon.fa.fa-rss(href='#')