extends layouts/main

block content
    .container.body
        .main_container
            .col-md-3.left_col
                .left_col.scroll-view
                    .navbar.nav_title
                        a.site_title(href='/admin')
                            i.fa.fa-asterisk
                            span Resto Admin
                    .clearfix
                    // menu profile quick info
                    .profile
                        .profile_pic
                            img.img-circle.profile_img(src='images/img.jpg', alt='...')
                        .profile_info
                            span Welcome,
                            h2 John Doe
                    br
                    // sidebar menu
                    include includes/navigation
            // top navigation
            .top_nav
                .nav_menu
                    nav
                        .nav.toggle
                            a#menu_toggle
                                i.fa.fa-bars
            // page content
            .right_col(role='main')
                div
                    // Content goes here
                    .page-title
                        .title_left
                            h3 Deliveries
                    .clearfix
                    .row
                        .col-md-12.col-sm-12.col-xs-12
                            .clearfix
                            table#datatable.table.table-striped.table-bordered
                                thead
                                    tr
                                        th id
                                        th id_client
                                        th Content
                                        th Status
                                        th Deliverer
                                        th Address
                                        th Price
                                        th Date
                                tbody
                                    each delivery in deliveries
                                        tr
                                            td= delivery.id
                                            td= delivery.id_client
                                            td= delivery.content
                                            td
                                                span.label.label-primary= delivery.status
                                            td= delivery.deliverer
                                            td= delivery.address
                                            td= delivery.price
                                            td= delivery.date