extends layouts/main

block content
    .container.body
        .main_container
            .col-md-3.left_col
                .left_col.scroll-view
                    .navbar.nav_title
                        a.site_title(href='/admin')
                            i.fa.fa-asterisk
                            span Resto Admin
                    .clearfix
                    // menu profile quick info
                    .profile
                        .profile_pic
                            img.img-circle.profile_img(src='images/img.jpg', alt='user_name')
                        .profile_info
                            span Welcome,
                            h2 John Doe
                    br
                    // sidebar menu
                    include includes/navigation
            // top navigation
            .top_nav
                .nav_menu
                    nav
                        .nav.toggle
                            a#menu_toggle
                                i.fa.fa-bars
            // page content
            .right_col(role='main')
                // This month statistics
                .page-title
                    .title_left
                        h3 This Month
                .clearfix
                .row.top_tiles
                    each month in monthStatistics
                        .animated.flipInY.col-lg-3.col-md-3.col-sm-6.col-xs-12
                            .tile-stats
                                .icon
                                    i(class='fa #{month.icon}')
                                .count= month.number
                                h3= month.title
                                p= month.description
                // This year statistics
                .page-title
                    .title_left
                        h3 This Year
                .clearfix
                .row.top_tiles
                    each year in yearStatistics
                        .animated.flipInY.col-lg-3.col-md-3.col-sm-6.col-xs-12
                            .tile-stats
                                .icon
                                    i(class='fa #{year.icon}')
                                .count= year.number
                                h3= year.title
                                p= year.description
                .demo-container(style='height:290px; margin-top: 150px;')
                    #placeholder33x.demo-placeholder