extends layouts/main

block content
        // Breadcrumbs
        .breadcrumb
            .container
                ul
                    li
                        a(href='/') Home
                    li
                        a(href='/menu') Menu
                    li.active
                        a(href="/menu/#{oneDish._id}")= oneDish.name
        // Appetizer
        section.section-barbacoa
            .container
                img(src='#{oneDish.image}', alt='')
                .row.dish-description
                    .col-md-9
                        h2= oneDish.name
                        p= oneDish.description
                    .col-md-3.dish-content
                        h3
                            | Price:
                            span.price
                            |$ #{oneDish.price}
                        .property
                            h4 Portion Size
                            p
                                span.fa.fa-chevron-right
                                | Weight: #{oneDish.weight} g
                        .property
                            h4 Ingredients
                            each item in oneDish.ingredients.split(",")
                                p
                                    span.fa.fa-chevron-right
                                    | #{item}
                        .property
                            h4 Nutrition Facts
                            p
                                span.fa.fa-chevron-right
                                | Calories: #{oneDish.calories}