doctype html
html(lang='en')
    include includes/head
    body
        // Top part
        header
            .container
                .row.upper-info
                    ul.pull-right
                        li
                            span.fa.fa-map-marker
                            | #{generalInfo.address}
                        li
                            span.fa.fa-phone
                            | #{generalInfo.tel}
                        li
                            span.fa.fa-clock-o
                            | #{generalInfo.workingTime}
                .row
                    img(src='img/logo.png', alt='logo')
                    nav.pull-right
                        ul.menu
                            each nav in navMenu
                                li
                                    a(href='#{nav.link}')= nav.name
                .row.main-text
                    h1= headerText.h1
                    h2= headerText.h2
                    h3= headerText.h3
                    a.btn(href='#') Book a table
        // Shaurma
        section.section-shaurma
            .container
                .row
                    .col-md-6
                        h2= sectionKebab.title
                        h5= sectionKebab.description
                        p= sectionKebab.text
                        a(href='') About Us
                    .col-md-6
                        img(src='img/homepage_img-1.png', alt='')
        // Chef recommends
        section.section-chef
            .container
                h2= generalInfo.chefRecommends
            .row
                each dish in topDishes
                    .col-md-3.col-sm-6.col-xs-12
                        a(href='#{dish.link}')
                            img(src='#{dish.imgLink}', alt='')
                        .receipe
                            h5
                                a(href='#{dish.link}')= dish.name
                                span.price.pull-right= dish.price
                            p= dish.description
        // testimonials
        section.section-testimonials
            .container
                h2= generalInfo.testimonialsTitle
                img.img-responsive(src='img/homepage_mst.png', alt='')
                .row
                    each testimonial in homeTestimonials
                        .col-sm-6
                            p.review= testimonial.text
                            img.img-responsive.img-circle(src='#{testimonial.avatar}', alt='')
                            h5= testimonial.name
                            p= testimonial.postedOn
        // home menu
        section.section-home-menu
            .row
                each menuItem in homeMenu
                    .col-md-3.col-sm-6.col-xs-12
                        a(href='#{menuItem.link}')
                            img(src='#{menuItem.image}', alt='')
                            .menu-title
                                h2= menuItem.menuCategory
        // The chef
        section.section-the-chef
            .container
                .col-md-7
                    h2= chiefWords.name
                    h4= chiefWords.h4
                    p= chiefWords.p1
                    p= chiefWords.p2
        // Interior
        section.section-interior
            .container
                .col-md-6
                    h2= homeInterior.h2
                    h6= homeInterior.h6
                    p= homeInterior.p
                    a.btn(href='') Gallery
        // footer
        include includes/footer