extends layouts/main

block content
        // Breadcrumbs
        .breadcrumb
            .container
                ul
                    li
                        a(href='/') Home
                    li
                        a(href='/menu') Menu
                    li.active
                        a(href='/menu/#{category}')= category
        // Appetizer
        section.section-appetizer
            .container
                h1= category
        // Appetizer body
        section.section-appetizer-body
            .container
                .dishes
                    each dish in dishesInCategory
                        .receipe
                            h5
                                a(href="/dish/#{dish._id}")= dish.name
                                span.price.pull-right $ #{dish.price}
                            p= dish.ingredients