extends layouts/main

block content
    // Breadcrumbs
    .breadcrumb
        .container
            ul
                li
                    a(href='/') Home
                li.active
                    a(href='/offers') Offers
    // Pricing table
    section.section-pricing-table
        .container
            h1 Our Offers
            .row
                each offer in offers
                    .col-md-4
                        .price-offer
                            span.offer-title= offer.name
                            h3= offer.price
                            .offer-ingredient
                                each item in offer.specialItems
                                    p= item
                            .offer-button
                                a(href='#') Full menu
    // Our reviews
    section.section-our-reviews
        .container
            h3= offerTestimonials.title
            p= offerTestimonials.text
            .clients-reviews
                each testimonial in offersTestimonials
                    .col-md-4
                        p.review= testimonial.text
                        img.img-responsive.img-circle(src='#{testimonial.avatar}', alt='')
                        h5= testimonial.name
                        p= testimonial.postedOn
