html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title= title
        // Font Alegreya
        link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700,800', rel='stylesheet')
        // font awesome
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        // font icon
        link(rel='shortcut icon', type='image/png', href='../img/icon.png')
        // Latest compiled and minified CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        // Custom style
        link(rel='stylesheet', href='../css/styles.css')
        // jQuery library
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        // Latest compiled Bootstrap JS
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body
        section.common-menu
            .container
                .row.upper-info
                    ul.pull-right
                        li
                            span.fa.fa-map-marker
                            | #{generalInfo.address}
                        li
                            span.fa.fa-phone
                            | #{generalInfo.tel}
                        li
                            span.fa.fa-clock-o
                            | #{generalInfo.workingTime}
                .row
                    img(src='../img/logo.png', alt='logo')
                    nav.pull-right
                        nav.pull-right
                            ul.menu
                                each nav in navMenu
                                    li
                                        a(href='#{nav.link}')= nav.name
        // Breadcrumbs
        .breadcrumb
            .container
                ul
                    li
                        a(href='/') Home
                    li
                        a(href='/services') Services
                    li.active
                        a(href='/services/#{serviceInfo._id}')= serviceInfo.name
        // School menu header
        section.school-menu-header
            .container
                h2= serviceInfo.name
                p= serviceInfo.description
        // School menu body
        section.school-menu-body
            .container
                h5= serviceInfo.headText
                p= serviceInfo.upperText
                img.img-responsive(src='#{serviceInfo.image}', alt='#{serviceInfo.name}')
                p= serviceInfo.lowerText
        // Reservation
        section.section-reservation
            .container
                .col-md-1
                .col-md-5
                    h3 Reservation
                    p
                        | We are always ready to meet all your needs and requirements during the night time. Please call 555.329.0632 or
                        | fill out the contact form and we will call back to you ASAP.
                .col-md-5.reservation-form
                    form(action='')
                        .col-md-6
                            .form-group
                                label.form-label.form-label-outside(for='contact-name')
                                input#contact-name.form-control.form-control-has-validation.form-control-last-child(name='name', data-contraints='@Required', type='text', placeholder='Your name')
                                span.form-validation
                        .col-md-6
                            .form-group
                                label.form-label.form-label-outside(for='contact-email')
                                input#contact-phone.form-control.form-control-has-validation.form-control-last-child(name='email', data-contraints='@Required', type='text', placeholder='Phone')
                                span.form-validation
                        .col-md-12
                            .form-group
                                label.form-label.form-label-outside(for='contact-email')
                                input#contact-email.form-control.form-control-has-validation.form-control-last-child(name='email', data-contraints='@Required', type='email', placeholder='Email')
                                span.form-validation
                        .col-sm-2
                            button.btn.btn-primary(type='submit') Submit
        footer
            .container
                .row.footer-info
                    .col-md-4.col-sm-12.col-xs-12
                        img(src='../img/logo.png', alt='')
                        p= generalInfo.mainDescription
                    .col-md-4.col-sm-12.col-xs-12
                        h4 Instagram
                        .insta-items
                            // First row
                            .row
                                each instaItem in instagram
                                    .insta-item
                                        a.insta-link(href='#{instaItem.link}', target='_blank')
                                            img.insta-img(src='../#{instaItem.image}', alt='')


                    .col-md-4.col-sm-12.col-xs-12
                        h4 Contact us
                        ul
                            li
                                span.fa.fa-map-marker
                                |  #{generalInfo.address}
                            li
                                span.fa.fa-phone
                                |  #{generalInfo.tel}
                            li
                                span.fa.fa-clock-o
                                | #{generalInfo.workingTime}
                            li
                                span.fa.fa-envelope
                                |  #{generalInfo.email}
            hr
        // lower footer
        section.lower-footer
            .container.lower-footer
                .col-md-6.col-xs-12
                    p= generalInfo.copyright
                .col-md-6.col-xs-12
                    ul.pull-right
                        li
                            a.icon.fa.fa-facebook(href='#')
                        li
                            a.icon.fa.fa-twitter(href='#')
                        li
                            a.icon.fa.fa-google-plus(href='#')
                        li
                            a.icon.fa.fa-youtube(href='#')
                        li
                            a.icon.fa.fa-rss(href='#')
