extends layouts/main

block content
    // Breadcrumbs
    .breadcrumb
        .container
            ul
                li
                    a(href='/') Home
                li.active
                    a(href='/team') Team
    // Section team top
    section.section-team-top
        .container
            .col-md-5
                h2= teamInfo.title
                p= teamInfo.text
    // Section team body
    section.section-team-body
        .container
            .row
                .error= message
                each member in teamMember
                    .col-sm-3
                        img.img-responsive(src='#{member.image}', alt='#{member.name}')
                        a(href='/team/#{member._id}')
                            h3= member.name
                        p.position= member.position
                        p.description= member.description
                        ul.team-link
                            li
                                a.icon.fa.fa-facebook(href='#')
                            li
                                a.icon.fa.fa-twitter(href='#')
                            li
                                a.icon.fa.fa-google-plus(href='#')